<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simple.RabbitMq.UseCases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Simple.RabbitMq.UseCases.Properties.Settings>
            <setting name="RabbitMqUrl" serializeAs="String">
                <value>amqp://nvdfljko:D-oYbOfCT-zF7i_hdjdYbwFhhGdXuT0C@lemur.cloudamqp.com/nvdfljko</value>
            </setting>
        </Simple.RabbitMq.UseCases.Properties.Settings>
    </userSettings>
</configuration>